body {
  background-color: #faf7f2;
  margin: 0;
}
.header__home {
  width: 100%;
}

.header-container {
  background: url("../pizzaTask/public/assets/iteration-1/home-banner.png");

  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center; /* Elemanları yukarı hizalar */

  flex-direction: column;
  width: 100%;
  height: 90vh;
  text-align: center;
  gap: 10px;
}

.header-container img {
  margin-top: 2rem;
  max-width: 100rem; /* Logo boyutu */
}

.container-layout {
  margin-top: 1rem;
}
.text {
  font-family: "Satisfy";
  font-size: 12px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #fdc913;
  margin: 0;
}

.text-new {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 1.5px;
  text-align: center;
}

.btn {
  margin-top: 1rem;
  width: 190px;
  height: 50px;
  background-color: #fdc913;
  border-radius: 50px;
  border: #fdc913;
  cursor: pointer;
}

.option-section {
  height: 100%;
  width: 100%;
}

.navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigator a {
  padding-top: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.navigator a img {
  padding: 0 20px;
}

.menu-section {
  display: flex;
  gap: 10px; /* Sol ve sağ taraf arasındaki boşluk */

  margin-top: 100px;
  justify-content: center;
}

.main-container {
  width: 531px;
  height: 449px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contents {
  background: url("public/assets/iteration-2/cta/kart-1.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contents .ozel {
  margin: 35px;
  font-family: "Quattrocento";
  font-size: 68px;
  margin-bottom: 10px;
}

.contents p {
  margin: 10px;
  margin-left: 35px;
}

.button-btn {
  margin: 10px;
  padding: 15px 35px;
  background-color: white;
  color: #d80027;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 45px;
}

.contents-second {
  background: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.contents-second p {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  margin-left: 30px;
}

.button-btn-second {
  padding: 15px 35px;
  margin-left: 45px;
  background-color: white;
  color: #d80027;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.contents-third {
  background: url("public/assets/iteration-2/cta/kart-3.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
}

.contents-third p {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  margin-left: 30px;
}

.red-text {
  color: #d80027;
}
